<html>
<head>
    <link rel="stylesheet" href="./views/css/connexion.css">
    <title>Fetch</title>
</head>
<body>
    <h1>IT Academy</h1>
    <h2>Entrer votre pseudo</h2>
    <form name="listeFormation" class="encodage" action="/" method="POST">
        <input for="Pseudo" type="text" name="pseudo">
        <input type="submit" name="button" class="buttonForm" value="Enregistrer">
    </form>

</body>
</html>