<html>
<head>
    <link rel="stylesheet" href="./views/css/connexion.css">
    <title>Fetch</title>
</head>
<body>
    <h1>IT Academy</h1>
    <h2>Les formations ont bien été enregistrées dans la base de données.</h2>

    <form name="listeFormation" class="encodage" action="/" method="POST">
        <input type="submit" name="button" class="button" value="Retourner au catalogue de formation">
    </form>
</body>
</html>